<nav class="grey darken-3">  
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Journal Books</a>
    <a href="" data-target="slide-nav" class="sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a>
    <ul id="slide-nav" class="sidenav">
      <li><a href="/journal">Journal</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Log out</a></li>
    </ul>
  </div>
</nav>