<h3>
    <i class="fas fa-book-reader"></i>
    Journal Books
</h3>

<section class="section">
    <p class="lead">
        Create Your own journal and idea from your experience
    </p>
</section>
<div class="divider"></div>
<section class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>
        Log in with google
    </a>
</section>
